* {
  margin: 0px;
  padding: 0px;

  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Vesper Libre", serif;
}
header {
  width: 100%;
  height: 100%;
  background-image: url(./_images/header\ 5.avif);
  background-size: cover;
  background-position: center;
}

.blur-wrapper {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

nav {
  width: 90%;
  margin: 90px auto;
  text-align: center;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  font-size: 24px;
  margin: 0px 10px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 1px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.sign_btn {
  height: 60px;
  border-radius: 30px;
  width: 160px;
  margin-top: 45px;
  margin-left: 70px;
  color: #c96b23;
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.sign_btn:hover {
  background-color: #ff7f00;
  color: #ffff;
}

.strapline-container {
  text-align: center;
  font-size: 40px;
  color: #ffff;
  font-family: "Libre Baskerville", serif;
}

.second-strapline {
  text-align: center;
  font-size: 25px;
  font-family: "Helvetica Neue", sans-serif;
  color: white;

  margin-top: 80px;
}

.third_strapline {
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 75%;
  height: 150px;
  margin-top: 90px;
  margin-bottom: 40px;
  border-radius: 25px;
  margin-left: 190px;
  background-color: rgba(255, 255, 255, 0.5);
}

.icon_container {
  margin-left: 50px;
  display: flex;
}

#user {
  background-color: #c96b23;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 10px;
  padding: 10px; /* Add padding for better appearance */
  border-radius: 20%; /* Add border-radius for a circular shape */
  color: #ffff;
  padding: 20px;
}

#text-exp {
  margin-top: 45px;
  margin-left: 40px;
  color: #ffff;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#calendar {
  background-color: #c96b23;
  margin-left: 40px;
  margin-top: 30px;
  padding: 10px; /* Add padding for better appearance */
  border-radius: 20%; /* Add border-radius for a circular shape */
  color: #ffff;
  padding: 20px;
}

.book_now {
  height: 60px;
  border-radius: 30px;
  width: 160px;
  margin-top: 45px;
  margin-left: 70px;
  background-color: #c96b23;
  color: #ffff;
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
  border: none;
}

.book_now:hover {
  background-color: #ff7f00; /* Change background color on hover */
  color: #ffffff;
}

#calendar:hover {
  background-color: #ff7f00;
}
#user:hover {
  background-color: #ff7f00;
}

.product-body {
  text-align: center;
}

.most {
  font-size: 45px;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
}

.round-container {
  margin-top: 50px;
  display: flex;
}

.round-img-one {
  width: 300px;
  height: 300px;
  background-color: #3498db; /* Change the background color as desired */
  border-radius: 50%; /* Makes the element a circle */
  margin-left: 100px;
  background-image: url(./_images/round-img-1.jpg);
  background-position: center;
  background-size: cover;

  color: #fff; /* Text color */
}

.round-img-two {
  width: 300px;
  height: 300px;
  background-color: #3498db; /* Change the background color as desired */
  border-radius: 50%; /* Makes the element a circle */
  background-image: url(./_images/round-img-2.avif);
  background-size: contain;
  background-position: 60px;

  margin-left: 40px;
  justify-content: center;
  color: #fff; /* Text color */
  font-size: 24px; /* Text size */
}

.round-img-three {
  width: 300px;
  height: 300px;
  border-radius: 50%; /* Makes the element a circle */
  background-image: url(./_images/round-img-three.avif);
  background-size: cover;
  background-position: initial;
  margin-left: 30px;
  font-size: 24px; /* Text size */
}

.round-img-four {
  width: 300px;
  height: 300px;
  background-color: #3498db; /* Change the background color as desired */
  border-radius: 50%; /* Makes the element a circle */
  background-image: url(./_images/round-img-four.avif);
  background-size: cover;
  background-position: center;
  margin-left: 40px;
  justify-content: center;
  color: #fff; /* Text color */
  font-size: 24px; /* Text size */
}

.des{
  display: flex;
  margin-left: 120px;
  margin-top: 20px;
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 550;

}



#sofas{
  margin-left: 120px;
}

.sofas{
  margin-right: 20px;
}
.dinning{
  margin-left: 70px;
}
 #dinning{
  margin-left: 150px;
 }
.table{
  margin-left: 100px;
}

#table{
  margin-left: 110px;
}

.round{
  margin-left: 90px;
}
 
#round{
  margin-left: 70px;
}

.des:hover{
  color: #ff7f00;
}

#des{
height: 300px;
margin-left: 150px;
margin-top: 40px;
width: 80%;
display: flex;




}
 

.des-one{
  letter-spacing: 0.2px;
  height: 290px;
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: light;
  margin-right: 30px;
  
  
}

.des-two{
  height: 200px;
  width: 80%;
  margin-left: 100px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: light;
  letter-spacing: 0.20px;
}

.des-three{
  height: 200px;
  width: 70%;
  margin-left: 120px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: light;
  letter-spacing: 0.20px;
}

.des-four{
  height: 200px;
  width: 70%;
  margin-left: 130px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: light;
  
}

.buy_btn{
  height: 60px;
  border-radius: 30px;
  width: 160px;
  margin-top: 20px;
  color: #c96b23;
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Serif Display', serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
}

.buy_btn:hover{
  background-color: #ff7f00;
  color: #ffff;
}

.see-more{
  height: 60px;
  border-radius: 30px;
  width: 160px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Serif Display', serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #ff7f00;
}

.see-more:hover{
  background-color: #c96b23;
  color: #ffff;
}

.sepecial{
  border: 2px solid red;
  height: 700px;
  text-align: center;
}

.offer{
  margin-top: 40px;
  font-size: 45px;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
}

.special-img{
  border: 2px solid purple;
  margin-left: 130px;
  margin-top: 40px;
  height: 400px;
  background-image: url(./_images/ppp.webp);
  background-position: center;
  background-size: cover;
  width: 80rem;
}