*{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'Vesper Libre', serif;
    color: rgb(207, 19, 107);
}
header{
    width: 100vw;
    height: 100vh;
}
nav{
    width: 90%;
    margin: 10px auto;
    text-align: right;
}

 nav ul li {
display: inline-block;
}
nav  ul li a{
text-decoration: none;
color: rgb(207, 19, 107);
font-size: 20px;
margin: 0px 10px ;
letter-spacing:1px ;
}

nav ul li a:hover{
text-decoration: underline;
}
.strapline-container{
    width: 90%;
    height: 85%;
    margin: auto auto;
    text-align: center;
    background-image: url(./_images/donuts\ 1.avif);
    background-size: cover;
    background-position:center ;
}

.main-strapline{
    color: rgb(207, 19, 107);
    font-size: 120px;
    text-transform: uppercase;
    margin: 50px 0px ;
    font-family: 'Poppins', sans-serif;
}

.second-strapline{
color: #FFFFDD;
font-size: 35px;
font-style: italic;
}

.section-title{
    text-align: center;
    font-family:'Poppins', sans-serif ;
    color: rgb(207, 19, 107);
    text-transform: uppercase;
    font-size: 240%;
    margin-bottom: 25px;
}
.about-section{
    width: 100vw;
    height: 90vh;
}
.about-container{
    
    width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}
.left-box{
    text-align: justify;
    width: 45%;
    line-height: 220%;
    font-weight: bold;
    letter-spacing: 0.8px;
    
}
.right-box{
    width: 40%;
    margin-right: 10%;
}
.top-row, .bottom-row{
    display: flex;
    flex-direction: row;
}
.grid-image-one{
    width: 50%;
    height: 240px;
    background-image: url(./_images/toronto.jpeg);
    background-size: cover;
    background-position: center;

    
}
.grid-image-two{
    width: 50%;
    height: 240px;
    background-image: url(./_images/Coffee.jpeg);
    background-size: cover;
    background-position: center;
}

.grid-image-three{
    width: 50%;
    height: 240px;
    background-image: url(./_images/Coffee2.jpeg);
    background-size: cover;
    background-position: center;
}

.grid-image-four{
    width: 50%;
    height: 240px;
    background-image: url(./_images/Donuts2.jpeg);
    background-size: cover;
    background-position: center;
}
.donuts-section{
    width: 100vw;
    
}
.image-container{
    width: 100%;

}
.row-one, .row-two, .row-three{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    
}
.grid-item{
    width: 30%;
    height: 310px;
    display: inline-block;
    margin: 15px ;
}
.grid-item:hover{
    opacity: 0.80;
}

#grid-one{
    background-image: url(./_images/donut\ one.avif);
    background-size: cover;
    background-position: center;

}
#grid-two{
    background-image: url(./_images/second\ donut.jpeg);
    background-size: cover;
    background-position: center;
    
}
#grid-three{
    background-image: url(./_images/eeeee.webp);
    background-size: cover;
    background-position: center;
    
}
#grid-four{
    background-image: url(./_images/donut\ 5.jpeg);
    background-size: cover;
    background-position: center;
    
}
#grid-five{
    background-image: url(./_images/donut\ five.jpeg);
    background-size: cover;
    background-position: center;
    
}
#grid-six{
    background-image: url(./_images/Donuts2.jpeg);
    background-size: cover;
    background-position: center;
    
}
#grid-seven{
    background-image: url(./_images/donut\ seven.jpeg);
    background-size: cover;
    background-position: center;
    
}
#grid-eight{
    background-image: url(./_images/donut\ eight.webp);
    background-size: cover;
    background-position: center;
    
}
#grid-nine{
    background-image: url(./_images/donut\ nine.jpeg);
    background-size: cover;
    background-position: center;
    
}
.stores-section{
    width: 100vw;
}
.store-container{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}
.store-div{
    width: 30%;
    height: 240px;
    margin: 20px;
    text-align: center;
}
h4{
    font-size: 150%;
}
.contact-section{
    width: 100vw;
    height: 50vh;
    background-color: rgb(207, 19, 107);
    text-align: center;
    color: #FFFFDD;

}
.contact-title{
    margin: 25px 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 250%;
}
.email{
    font-size: 140%;
}
.social-media-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    margin: 0 auto;
}
.social-media-icon{
    margin: 0px 7.5px;
}

@media (max-width: 767px) {
    .main-strapline {
      font-size: 80px;
    }
  
    .second-strapline {
      font-size: 25px;
    }
  
    .about-container {
      flex-direction: column;
    }
  
    .left-box,
    .right-box {
      width: 100%;
    }
  
    .grid-image-one,
    .grid-image-two,
    .grid-image-three,
    .grid-image-four {
      width: 100%;
    }

    .row-one,
    .row-two,
    .row-three {
      flex-direction: column;
    }
  
    .grid-item {
      width: 90%;
      margin: 10px auto;
    }
  
    .store-container {
      flex-direction: column;
    }
  
    .store-div {
      width: 100%;
    }
  
    .social-media-div {
      width: 80vw;
    }
}